
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
env/
.venv/
.DS_Store


.ipynb_checkpoints/
.vscode/
.idea/
*.code-workspace


data/movies.db


analysis/*.csv
*.csv


data/*.csv
!data/README.md 



*.log
*.tmp
*.bak


Thumbs.db
ehthumbs.db
Desktop.ini


*.egg-info/
build/
dist/
